body {
    background-color: #2a2b2f; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: #fff;
    text-align:center;
}

@keyframes mymove1 {
    from {left: 0px;}
    to {left: 200px;}
  }

@keyframes mymove2 {
    from {left:200px;}
    to {left: 0px;}
  }
    
.mona-images {
    max-width: 400px;
    max-height: 400px;
    border: 8px solid #fff;
}
.mona-images-0{
    position: relative;
    animation: mymove1 3s alternate-reverse;    
}
.mona-images-1{
    background-color: blue;
    animation: mymove2 3s alternate-reverse;      
}
.mona-images-2{
    background-color: chocolate;
}
.mona-images-3{
    background-color: gold;
}
.mona-images-4{
    background-color: hotpink;
}
.haiku-containers {
    padding: 10px 0px 20px 0px;
}

.haikus {
    font-size: 18px;
    white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
    .june-images {
        max-width: 340px;
        max-height: 340px;
    }

    .haikus {
        font-size: 22px;
    }
}
